<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- THIS SECTION IS ADDED TO HOLD YOUR SECRETS -->
	<appSettings>
		<add key="SenderEmail" value="your-email@gmail.com" />
		<add key="SenderPassword" value="your-google-app-password" />
	</appSettings>

</configuration>